$font: 'TT Lakes', sans-serif;
$text-color-1: #1b1c21;
$text-color-2: #7e7e82;
$font-size-text: 14px;
$font-size-btn: 16px;

$background-1: #f8f8f8;
$background-2: #ffffff;
$border-color: #b8ffec;
$btn-pink: #ff3e79;

$padding-mobile: 16px;
$padding-desktop: 35px;

$border-1: 1px solid #b8ffec;
$border-2: 1px solid #eaeaea;


